/bin/
/dist/
/.task/
/bindings/
/build/ios/
/build/linux/desktop
/build/darwin/Info.dev.plist
/build/darwin/Info.plist
/build/darwin/icons.icns
/build/linux/*.desktop
/build/linux/appimage/build/
/build/linux/appimage/*.AppImage
/build/linux/appimage/PairRoom
/build/linux/appimage/appicon.png
/build/linux/nfpm/nfpm.yaml
/build/windows/icon.ico
/build/windows/info.json
/build/windows/wails.exe.manifest
/build/windows/nsis/wails_tools.nsh
/build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
